<&- include('partials/header') %>

<h1>Nuovo articolo</h1>
<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/articles/new" method="POST">
  <input type="text" name="title" placeholder="Titolo" required><br>
  <textarea name="content" placeholder="Contenuto" required></textarea><br>
  <button type="submit">Salva articolo</button>
</form>
<a href="/">Annulla</a>

<%- include('partials/footer') %>