
<%- include('partials/header') %>
<h1>Registrati</h1>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/register" method="POST">
  <label>Username</label>
  <input type="text" name="username" required>
  
  <label>Email</label>
  <input type="email" name="email" required>
  
  <label>Password</label>
  <input type="password" name="password" required>
  
  <button type="submit">Registrati</button>
  <a href="login">login</a>
</form>

<%- include('partials/footer') %>